.game_container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 20px;
  border: greenyellow 1px solid;
  margin-top: 20px;
  height: 500px;
}
.game_container .game_body {
  border: indigo 1px solid;
  height: 200px;
}
.game_container .game_rightBar {
  border: 1px violet solid;
  height: 200px;
}
